
    <ion-header>
            
      <ion-navbar color='flo_dark'>
               
                  <div *ngIf=!isQuizListEmpty class='iconSize'> 
                      <ion-title  class='topNav' >{{'QUIZ_LIST' | translate}}</ion-title>
                        <ion-buttons end >
                          <button ion-button icon-right color="light" (click)='onClickClearQuizesList()'>
                              <ion-icon name="trash"></ion-icon>
                          </button>
                      
                            <button ion-button icon-right color="light" (click)='onClickSave()'>
                                <ion-icon name="cloud-upload"></ion-icon>
                            </button>
                          
                            <button ion-button icon-right color="light" (click)='onClickRetrieve()'>
                                <ion-icon name="cloud-download"></ion-icon>
                            </button>
                            <button ion-button icon-right color="light" (click)='showPromptLaunchQuiz()'>
                                <ion-icon name="add-circle"></ion-icon>
                            </button>
                          </ion-buttons>

                          
                  </div>
                  <div *ngIf=isQuizListEmpty class='iconSize'>
                      <ion-title >Quiz List</ion-title>
                    <ion-buttons end>
                      <button ion-button icon-right color="light" (click)='onClickRetrieve()'>
                          <ion-icon name="cloud-download"></ion-icon>
                      </button>
                      <button ion-button icon-right color="light" (click)='showPromptLaunchQuiz()'>
                          <ion-icon name="add-circle"></ion-icon>
                      </button>
                    </ion-buttons>

                  </div>
              
          </ion-navbar>
        
        </ion-header>
        
    
        
        
        <ion-content padding class='HomeStyle' >
    
                <div *ngIf=quizesList.length>
                            <ion-card  *ngFor="let quiz of quizesList ; let ind = index" (click)="onSelect(quiz,ind)" class='quiz-cards-list-finished'
                            [ngClass]="{'quiz-cards-list-finished':true, 'quiz-cards-list-progress': (quiz.is_finished == false)}"
                            > 
                                    
                                    <ion-card-header >
                                        <ion-icon name="school" item-start></ion-icon>
                                            <b>{{ quiz.target_name }}</b>({{ quiz.language }})
                                            <br> {{quiz.toasts_list.length}} Questions
                                
                                        </ion-card-header>
                                   
                                         
                                         
                                             <ion-list >
                                                <div class='quizListContent'>
                                                <ion-item ion-item>
                                                <ion-icon name="arrow-dropright" color='flo' item-end></ion-icon>
                                               <div class="quizeslist">
                                                <div *ngIf= !quiz.is_finished> 
                                                    <div *ngIf= !quiz.is_started>
                                                      <div *ngIf= quiz.is_selected >{{'START_QUIZ' | translate}}</div>
                                                      <div *ngIf= !quiz.is_selected >{{'START_QUIZ' | translate}}</div>
                                                      </div>
                                                    <div *ngIf= quiz.is_started>
                                                        <div *ngIf= quiz.is_selected >{{'RESUME_QUIZ' | translate}}</div>
                                                        <div *ngIf= !quiz.is_selected >{{'RESUME_QUIZ' | translate}}</div>
                                        
                                                    </div>
                                                    </div>
                                                    
                                                  <div *ngIf= quiz.is_finished> {{'FINISHED_QUIZ' | translate}} <br/>
                                                    Score: {{quiz.final_score}}%
                                        
                                                  </div>
                                                </div>
                                              </ion-item>
                                              </div>
                                             </ion-list>
                                            
                                            
                                    </ion-card>
                
                            
                </div>

                <div *ngIf=!quizesList.length>
                    <ion-card >
                        
                              
                                  <ion-item class='HeaderStyle'>
                                  No Quiz in your List 
                                  <ion-badge item-end color='light'>{{language}}</ion-badge>
                                </ion-item>
                           
                        
                                
                                 
                                <ion-item  (click)='onClickRetrieve()' class='ElementStyle'>
                                    <ion-label>Download my Quiz List</ion-label>
                                        <ion-icon name="cloud-download" item-end color="flo"></ion-icon>
                                </ion-item>
                              
                                <ion-item  (click)='showPromptLaunchQuiz()' class='ElementStyle'>
                                    <ion-label>Launch a new Quiz</ion-label>
                                        <ion-icon name="add-circle" item-end color="flo"></ion-icon>
                                </ion-item>
                           


           </ion-card>

                </div>
    
      </ion-content>
        